.custom-shadow {
  border-radius: 0.375rem;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 2px 2px 0px 0px #3454D1;
}

.filter-shadow {
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 4.64px 4.64px 0px 0px #3454D1;
}

.add {
  background-color: #3454D1;
  color: #FFF;
  box-shadow: 2.6px 2.6px 0px 0px #000;
  height: 3rem;
  padding: 0rem 1.5rem;
  gap: .25rem;
  border-radius: .375rem;
  border: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
  outline: none;
}

.save {
  border-radius: 0.625rem;
  border: 1px solid #000;
  padding-left: 3rem;
  padding-right: 3rem;
  background: #3454D1;
  box-shadow: 2px 2px 0px 0px #000;
}
.content {
  width: 100%;
  /* border-collapse: separate; */
  /* border-spacing: 0 .5rem; */
  border-radius: 0.625rem;
  border: 1px solid #3454D1;
  background: #FFF;
  box-shadow: 3.05px 3.05px 0px 0px #3454D1;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #3454D1;
  font-weight: 800;
  font-size: 1.5rem;
}

#table-search-users {
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 3.64px 3.64px 0px 0px #3454D1;
}

.btn-sort {
  border-radius: 0.625rem;
  border: 1px solid #000;
  background: #FFF;
  box-shadow: 2.6px 2.6px 0px 0px #3454D1;
}

.modal-dialog {
  border-radius: 1.25rem;
  border: 1px solid #3454D1;
  background: #FFF;
  box-shadow: 9.874px 9.874px 0px 0px #3454D1;
  position: absolute !important;
  display: flex;
  max-width: 800px !important;
  height: 500px !important;
  overflow: auto !important;
  z-index: 2000 !important;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 8rem;
  margin-bottom: 5rem;

  .modal-header {
    /* display: flex !important; */
    justify-content: space-between !important;
    .btn-close {
      margin: 0 !important;
    }
  }

  .modal-body {
    margin: 50px 100px;
  }
  .modal-footer {
    display: flex !important;
    justify-content: space-between !important;
    margin: 30px 30px;
    padding: 20px;
    align-self: flex-end;
  }
}
.fade:not(.show) {
  opacity: 1;
}

.title {
  color: #3454D1;
  font-size: 1rem;
  font-weight: 700;
}

.value {
  color: #000;
  font-size: 0.875rem;
  font-weight: 500;
}
